body {
	font-family: 'Open Sans', sans-serif;
}

a:hover, 
a:focus {
	text-decoration: none;
}
a:focus {
	outline: none;
}
.form-control {
	/*-webkit-appearance: none;*/
}
button, select {
    text-transform: none;
}

ul, li{list-style-type:none;margin:0;padding:0;}
.dis-flex{display:flex}
/* */
.login-logo {
	margin: 15px;
}
.login-bg {
	background-image: url(../images/banner/banner-02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
}
.login-register-tab {
	background-color: #fff;
	margin: 50px 0;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
}
.login-register-tab .tab-pane {
	padding: 50px 30px 30px 30px;
}
.login-register-tab .nav-tabs li {
	width: 50%;
	margin-bottom: 0;
}
.login-register-tab .nav-tabs {
    border-bottom: 2px solid #def2f0;
}
.login-register-tab .nav-tabs li.active a, 
.login-register-tab .nav-tabs li.active a:focus, 
.login-register-tab .nav-tabs li.active a:hover {
	border: none;
	background-color: #def2f0;
	font-size: 25px;
	font-weight: 700;
	color: #ed1c24;
	padding: 15px;
}
.login-register-tab .nav-tabs li a {
	margin-right: 0;
	border-radius: 0;
	border: none;
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	color: #646464;
	padding: 15px;
}
.login-register-tab .nav-tabs li a:hover {
	border-color: #def2f0;
}
.login-register-tab .nav li a:focus, 
.login-register-tab .nav li a:hover {
	background-color: #def2f0;
}
.login-register-tab .responsive-tabs-container[class*="accordion-"] .tab-pane {
    margin-bottom: 0;
}
.login-register-tab label {
	font-size: 15px;
	font-weight: 400;
	color: #646464;
}
.login-register-tab .form-control {
    border: 1px solid #d0dfdd;
    border-radius: 0;
    box-shadow: none;
    height: inherit;
    padding: 8px 12px;
	color: #222;
	font-weight: 600;
	font-size: 14px;
}
.mandatory {
	color: #ed1c24;
}
.btn-formsubmit {
	background-color: #1abdaf;
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0;
	padding: 10px 30px;
	width: 100%;
	/*box-shadow: inset 0 0 0 0 #149085;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;*/
	
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-formsubmit:hover {
	/*box-shadow: inset 0 100px 0 0 #149085;*/
	background-color: #fff;
    color: #000;
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.btn-formsubmit:hover, 
.btn-formsubmit:focus, 
.btn-formsubmit:active {
	color: #000;
}
.ch-box input[type=checkbox] {
	display:none;
}
.ch-box {
	margin-bottom: 15px;
    margin-top: 30px;
}
.ch-box input[type=checkbox] + label{
	background-image:url(../images/custom-checkbox.jpg);
	background-repeat:no-repeat;
	height:17px;
	display:inline-block;
	line-height:17px;
	padding-left:25px;
	min-height: 17px;
	font-size: 15px;
	font-weight: 400;
}
.ch-box input[type=checkbox]:checked  + label {
	 background-position:0 -17px;
}




/* Radio Button */
.radio-box input[type=radio] {
	display:none;
}
.radio-box input[type=radio] + label{
	background-image:url(../images/custom-radio.png);
	background-repeat:no-repeat;
	height:17px;
	display:inline-block;
	line-height:18px;
	padding-left:25px;
}
.radio-box input[type=radio]:checked  + label {
	 background-position:0 -18px;
}
.radio-box input[type=radio]:disabled + label {
	background-position:0 -26px;
}



.resend-otp {
	color: #ed1c24;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
	margin-bottom: 10px;
}
.login-user p {
	font-size: 14px;
	font-weight: 400;
	color: #646464;
	margin-top: 10px;
	margin-bottom: 20px;
}
.login-user p a {
	color: #ed1c24;
	font-weight: 600;
}
.login-user .ch-box {
	margin-top: 10px;
	margin-bottom: 0;
}
.login-social-icons {
	text-align: center;
	margin-bottom: 20px;
}
.login-social-icons a {
	display: inline-block;
	margin: 0 7px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 15% 50%;
}
.login-fb {
	background-color: #4862a3;
	background-image: url(../images/fb_login.png);
	padding: 8px 15px 8px 35px;
}
.login-gplus {
	background-color: #dd4b39;
	background-image: url(../images/gplus_login.png);
	padding: 8px 15px 8px 53px;
}
.or {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

/* */
.btn-online-dr {
	font-size: 18px;
	font-weight: 700;
	border-radius: 10px;
	padding: 8px 16px;
	color: #fff;
	margin-top: 57px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-online-dr {
	background-color: #ed1c24;
	border: 2px solid #ed1c24;
}
.btn-online-dr:hover {
	background-color: rgba(43,193,226,0);
	border: 2px solid #fff;
	color: #fff;
}
.footer-top-bg {
	background-color: #042938;
	padding: 50px 0;
}
.need-help .btn-online-dr {
	margin-top: 0;
}
.need-help h1, 
.download-the-app h1 {
	font-size: 50px;
	font-weight: 700;
	color: #fff;
}
.need-help p, 
.download-the-app p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(255,255,255,0.8);
	margin-bottom: 30px;
	padding-right: 50px;
}
.download-the-app img {
	max-width: 100%;
	margin-right: 30px;
}
.footer-menu {
	border-bottom: 1px solid rgba(0,0,0,0.15);
    display: inline-block;
    width: 100%;
	padding: 35px 0;
}
.footer-menu h5 {
	font-size: 17px;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	margin-bottom: 20px;
}
.footer-menu ul {
	padding-left: 0;
}
.footer-menu ul li {
	list-style-type: none;
}
.footer-menu ul li a {
	font-size: 15px;
	line-height: 32px;
	color: #000;
	font-weight: 400;
}
.footer-social-icons {
	text-align: center;
	padding: 5px 0;
}
.footer-social-icons h5 {
	font-size: 14px;
	color: #000;
	font-weight: 400;
	margin: 20px 0;
}
.footer-social-icons a {
	background-repeat: no-repeat;
	width: 43px;
	height: 43px;
	text-indent: -999em;
	display: inline-block;
	margin: 0 5px;
}
.fb {
	background-image: url(../images/fb.png);
}
.twit {
	background-image: url(../images/twit.png);
}
.gplus {
	background-image: url(../images/gplus.png);
}
.linkedin {
	background-image: url(../images/in.png);
}

/* Edit-profile Start */
header{display:block;overflow:hidden}
.user-profile{float:right;margin-top:22px;margin-right:10px}
ul.user-img li{float:left;list-style-type:none;line-height:32px; margin-right:15px;}
ul.user-img li a{color:#1abdaf;font-weight:bold}
ul.user-img li span{display:inline-block;height:30px;width:30px;position:relative;top:-3px;}
ul.user-img li span img{max-width:100%;border-radius:18px;}

.logo-left{float:left}
.logout-btn{ width:auto;padding: 6px 20px; font-size: 13px;margin-left:30px}




.leftsidebar {
   
    max-width: 260px;
    float: left;
	background:#f9f9f9;
	width:100%;
	margin-top:34px;
}

.leftsidebar h4{padding-left:15px;color:#1abdaf;font-weight:600;font-size:17px;}
.toggled-2 .leftsidebar h4{display:none}
ul.left-profile{list-style-type:none;margin:0;padding:0;width:250px;padding-left: 0;}


ul.left-profile li a{color:#646464;font-size:14px;display:block;padding:8px 10px;}
ul.left-profile li:hover, ul.left-profile li.active, ul.left-profile li.active a, ul.left-profile li a:hover{background:#1abdaf;color:#fff}

ul.left-profile li span{width:20px;height:20px; display:inline-block;margin-right: 13px;}
ul.left-profile li span img{max-width:100%;}




span.change-profile-img img {
    max-width: 100%;
    width: 100%;
}



.right-sidebar {
	/* max-width:865px;
	
	width:100%; 
	float: left;*/
	margin-left:25px;
	margin-top:15px;
  
}

.breadcrumbs{ background: #fff;width: 100%;display: inline-block;padding: 12px 15px;position:relative}
ul.breadcrumbs-left{ float:left;    margin-left: 5px;
    position: relative;
    z-index: 999;}
ul.breadcrumbs-left li {float:left;color:#a5a3a3;font-size:13px;border-right:1px solid #ccc;padding-left:8px;padding-right:8px;}
ul.breadcrumbs-left li:last-child{border-right:none;padding-right:0;}
ul.breadcrumbs-left li a{color:#ed1c24;}
ul.breadcrumbs-right{ float:right;padding-right:15px;}
ul.breadcrumbs-right li{float:left;font-size:18px;text-transform:uppercase;padding-left:15px;padding-right:15px;border-right:2px solid #1abdaf;font-size:16px;font-weight:600}
ul.breadcrumbs-right li:last-child{border-right:none;padding-right:0;}
ul.breadcrumbs-right li a{color:#1abdaf}
ul.breadcrumbs-right li a:hover, ul.breadcrumbs-right li a.active{color:#ed1c24}


.edit-profile-photo{background:#fff;padding:10px 30px 30px 30px;margin-top:18px;}
.edit-profile-photo h2{
	border-bottom: 1px solid #ccc;
    color: #1abdaf;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 6px;
	margin-bottom:20px;
	margin-top:15px;
}

.password-save-btn {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    display: inline-block;
}
.password-btn{margin-right:15px}
.password-btn, .save-btn{width:auto;background:#ed1c24;padding: 7px 25px;font-size:14px;}

.edit-profile-photo .form-group{width:100%; display:inline-block}

/* Left nav start */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Left nav start */

/* Browse btn */

.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

/* Browse btn */


label.browse-btn {
    background: #89e4dc;
    padding: 9px 19px;
    color: #000;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.verification {
    float: left;
    width: 76.6%;
}
.browse-btn-verifi {
    float: left;
    margin-top: 26px;
}
label.browse-btn, label.browse-btn:hover, label.browse-btn:active:hover {
    background: #89e4dc;
    padding: 8px 19px;
    color: #000;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.change-profile-img{width:100px;height:100px;background:#ccc;display:inline-block}
.browse-computer{display:block}
.usr-photo-change, .change-profile-img, .change-photo-up{float:left;margin-right:15px;}
.change-photo-up{
	margin-top:25px;
	
}
.usr-photo-change{margin-top:41px;}
.change-photo-up .browse-btn, .change-photo-up .browse-btn:hover, .change-photo-up .browse-btn:hover:active {
    font-size: 13px;
    padding: 5px 15px;
}

span.browse-computer {
    font-size: 13px;
    margin-top: 5px;
}

/*.menu-toggle-icon {
    position: absolute;
    left: 0;
    top: -6px;
}*/

.menu-toggle-icon {
    position: absolute;
    left: -14px;
    top: 35px;
    width: 54px;
    height: 46px;
    background: #ed1c24;
}
.menu-toggle-icon i {
    color: #fff;
    position: relative;
    top: -4px;
}

.admin-footer{ text-alin:center;background:red;width:100%;display:inline-block; position:absolute;bottom:0;z-index:99;}
/* Edit-profile End */


/* Appointment Start */
.active-btn, .inactive-btn, .add-schedule{
	background: #1abdaf;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 2px;
}
.add-schedule{padding: 10px 13px;font-size:14px;}
.add-schedule i{margin-right:4px}
.inactive-btn{
	background: #ed1c24;
}
.appointment-pagination{width:100%;display:inline-block}
 ul.app-pagination{float:right;margin-top:0;}
 ul.app-pagination li.active a, ul.app-pagination li.active:hover a, ul.app-pagination li.active a:focus,  ul.app-pagination li.active a{background:#1abdaf;border:1px solid #1abdaf}
.display-item{    
	padding-bottom: 15px;
	padding-top: 20px;
    width: 100%;
    display: inline-block;
}
 
.display-item-left{float:left;}
.display-item-left label{float:left;margin-top:8px;font-size: 14px;font-weight: 600;}
.display-item-left select{float:left;margin-left:10px;margin-right:10px;width:auto}
.add-schedule{float:right}

.edit-profile-photo .tab-pane{padding:0;}
ul.nav.nav-tabs.nav-appointment li {
    width: 30%;
}
ul.nav.nav-tabs.nav-appointment li a{font-size:20px}
ul.nav.nav-tabs.nav-appointment li.active a, ul.nav.nav-tabs.nav-appointment li.active a:hover{font-size:20px; font-weight:inherit}
/* Appointment End */

/* payments Start */
table.payments-table tr:nth-child(odd) {
    background: #fff;
}

table.payments-table tr:nth-child(even) {
    background:#f9f9f9;
}
.show-entries{float:left;}
/* payments End */

/* feedback Start */
.feedback-details{ 
min-height: 700px;
position:relative;
}
.feedback-details .feedback-no-records{    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 257px;
    margin: auto;
    height: 257px;
	}
/* feedback End */
   



@media only screen and (max-width: 1200px) {

.need-help h1, .download-the-app h1 {
	font-size: 42px;
}
/* Appointment Start */
ul.nav.nav-tabs.nav-appointment li a, ul.nav.nav-tabs.nav-appointment li.active a, ul.nav.nav-tabs.nav-appointment li.active a:hover{
 font-size:18px;font-weight:inherit
}
ul.nav.nav-tabs.nav-appointment li {
    width: 35%;
}
/* Appointment End */

}

@media only screen and (max-width: 991px) {

.need-help p, .download-the-app p {
	padding-right: 0;
}
.need-help {
	margin-bottom: 30px;
}
/* Appointment Start */
ul.nav.nav-tabs.nav-appointment li {
    width: 50%;
}
ul.nav.nav-tabs.nav-appointment li a,  ul.nav.nav-tabs.nav-appointment li.active a, ul.nav.nav-tabs.nav-appointment li.active a:hover{
 font-size:16px;font-weight:inherit
}

/* Appointment End */
}

@media only screen and (max-width: 767px) {

/* */
.login-register-tab .responsive-tabs-container[class*="accordion-"] .tab-pane {
    margin-bottom: 0;
}
.login-register-tab .responsive-tabs-container[class*="accordion-"] .accordion-link {
	background-color: #def2f0;
	font-size: 18px;
	font-weight: 400;
	color: #646464;
	border-radius: 0;
	border: none;
	margin-bottom: 2px;
}
.login-register-tab .responsive-tabs-container[class*="accordion-"] .accordion-link.active {
	font-size: 18px;
	font-weight: 700;
	color: #ed1c24;
}
.login-register-tab .form-control,
.multiselect {
	padding: 8px 12px !important;
	font-size: 13px;
}
/* */
.btn-online-dr {
	margin-top: 30px;
}
.need-help h1, .download-the-app h1 {
	font-size: 30px;
}
.need-help p, .download-the-app p {
	margin-bottom: 15px;
}
.footer-top-bg {
	padding: 10px 0 30px 0;
}
.footer-menu {
	padding: 25px 0;
}
.footer-menu h5 {
	margin-bottom: 10px;
}
.footer-menu ul li a {
	line-height: 27px;
}
.footer-social-icons {
	padding: 10px 0;
}
.footer-social-icons h5 {
	font-size: 14px;
	margin: 10px 0;
}

/* Edit-profile Start */

.right-sidebar{
margin-left:0;
}

.usr-photo-change, .change-profile-img, .change-photo-up {
    float: none;
    margin-right: 0;
	display:block;
}
.usr-photo-change {
    margin-top: 0;
}
.change-photo-up {
    margin-top: 15px;
    margin-bottom: 20px;
}


.user-profile {
    float: none;
    margin-top: 10px;
    /* margin-right: 10px; */
    width: 100%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    /* text-align: center; */
}

.logo-left {
    float: none;
    text-align: center;
}


ul.breadcrumbs-left {
    float: none;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.logout-btn{float:right;margin-left:0;    width: auto;
    padding: 5px 15px;font-size:12px;}
.breadcrumbs{ padding: 12px 0;}
ul.breadcrumbs-right{float:none;padding-left:15px;}
ul.breadcrumbs-right li{font-size:12px; padding-left: 3px;
    padding-right: 3px;border-right: 1px solid #1abdaf;}
ul.breadcrumbs-right li:first-child{padding-left:0;}

ul.user-img li span{display:none}
.right-sidebar{margin-top:0;}
.login-bg #page-content-wrapper{padding-top:0;}
.menu-toggle-icon {
  position: absolute;
    left: 15px;
    top: -6px;
    z-index: 1;
	    width: 40px;
    height: 44px;
}
ul.breadcrumbs-left{
	margin-left:40px;
}
.edit-profile-photo{margin-top:8px;}
.password-btn, .save-btn{
	margin-bottom:20px;
}
label.browse-btn{padding:7px 19px}

.menu-toggle-icon i {
    color: #fff;
    position: relative;
    top: -3px;
    left: 14px;
}

/* Edit-profile End */
/* Appointment Start*/
ul.nav.nav-tabs.nav-appointment li {
    width: 100%;
}
/* Appointment End*/

}

@media only screen and (max-width: 480px) {

.login-register-tab .tab-pane {
    padding: 20px;
}

.edit-profile-photo .tab-pane{padding:0;}
.login-social-icons a {
	margin: 0 3px;
    font-size: 14px;
}
.btn-online-dr {
	margin-top: 20px;
	font-size: 15px;
}
.need-help h1, .download-the-app h1 {
	font-size: 20px;
}
.need-help p, .download-the-app p {
	font-size: 14px;
}
.download-the-app img {
    max-width: 48%;
    margin-right: 0;
}
.login-register-tab .nav-tabs li.active a, 
.login-register-tab .nav-tabs li.active a:focus, 
.login-register-tab .nav-tabs li.active a:hover,
.login-register-tab .nav-tabs li a {
	font-size: 18px;
}

}

@media only screen and (max-width: 360px) {

.login-social-icons a {
    margin: 0 3px;
    font-size: 11px;
}
.login-gplus {
    padding: 8px 15px 8px 45px;
    background-size: 19%;
}
.btn-formsubmit {
	font-size: 14px;
}
.login-user p a {
	font-size: 12px;
}
.ch-box input[type=checkbox] + label {
	font-size: 12px;
}
.login-user .ch-box {
	margin-top: 5px;
}
.login-user p {
	margin-top: 5px;
	margin-bottom: 10px;
}

/* Edit-profile Start */
.logout-btn{float:right;margin-left:0;    width: auto;
    padding: 5px 15px;font-size:12px;}

}

/* Edit-profile End */
/* multiselect */
/* .multiselect.btn .caret {
	float: right;
    margin-top: 9px;
} */
/* .multiselect.btn {
	text-align: left;
} */
.multiselect .multiselect-selected-text {
	float: left;
}
.multiselect .caret {
	float: right;
    margin-top: 10px;
}
.multiselect-container.dropdown-menu {
	width: 100%;
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default:active:hover,  .open>.dropdown-toggle.btn-default, .btn-default:hover,
 .btn-default:active:focus, .btn-default:active:hover { 
	background-color: transparent;
}
.multiselect-container.dropdown-menu>.active>a, 
.multiselect-container.dropdown-menu>.active>a:focus, 
.multiselect-container.dropdown-menu>.active>a:hover {
	background-color: transparent;
}
.btn.active, .btn:active,
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
.multiselect {
	padding: 8px 12px;
	border-radius: 0;
	font-weight: 600;
}
.multiselect-container>li>a>label {
	padding: 3px 20px 3px 10px;
}
.accordion-link {
	display: none !important;
}
/*CLEAR FIX*/
.clearfix:after {	content: "."; display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix 		{	display: inline-block; }
html[xmlns] .clearfix {	display: block; }
* html .clearfix { height: 1%; }